<!-- 返回顶部按钮 -->
<style>
#totop {
	position: fixed;
	bottom: 5em;
	right: 3em;
	z-index: 1000;
	opacity: 0;
	transition: opacity ease 0.4s;
}
@media only screen and (max-width: 700px) {
	#totop {
		bottom: 5em;
		right: 1em;
	}
}
</style>
<button id="totop" class="circular ui icon button">
  <i class="icon chevron up"></i>
</button>
<script>
$(document).ready(function() {
	$(window).scroll(function() {
		if ($(document).scrollTop() > 10) {
			$('#totop').css('opacity', '1');
		} else {
			$('#totop').css('opacity', '0');
		}
	});
	$('#totop').on('click', function() {
		$('body,html').animate({ scrollTop: 0 }, 500);
	});
});
</script>