<style>
.pushable>.pusher {
	min-height: 70%;
}
table {
	width: 100%;
	max-width: 65em;
	border: 1px solid #dedede;
	margin: 15px auto;
	border-collapse: collapse;
	empty-cells: show;
}
table th,
table td {
	height: 35px;
	border: 1px solid #dedede;
	padding: 0 10px;
}
table th {
	font-weight: bold;
	text-align: center !important;
	white-space: nowrap;
}
table tr:hover {
	background: #efefef;
}

table td:nth-child(1) {
	white-space: nowrap;
}
</style>
<div class="ui segment" id="page-content">
	<%- page.content %>
	<!--
	<br />
	<div class="ui icon message">
		<i class="notched circle loading icon"></i>
		<div class="content">
			<div class="header">请稍候 </div>
			<p>正在打开下载链接...</p>
			<a class="ui blue button" href="">没有反应？点击这里</a>
		</div>
	</div>
	-->
</div>
