.masthead.segment
	min-height: 700px
	padding: 1em 0em

.masthead
	.index-header-buttons
		margin-top: 14px
		.index-header-extend
			color: rgb(210,210,210)
			.history
				color: rgb(210,210,210)
			.history:hover
				color: rgb(255,255,255)
	h1.ui.header
		margin-top: 3em
		margin-bottom: 0em
		font-size: 4em
		font-weight: normal
	h2
		margin-bottom: 1.5em
		font-size: 1.7em
		font-weight: normal

.ui.masthead.index-bg
	background: #000000 url(/assets/images/bg.jpg) no-repeat center center
	background-size: cover

.ui.index-header-text .logo
	width: 60%
	max-width: 600px
	margin-top: 100px

.ui.examples .example-image
	width:290px
	height:330px
	background-repeat: no-repeat
	background-origin: center
	background-position: center
	background-size:cover

.ui.vertical.stripe
	padding: 3.5em 0em
	h3
		font-size: 1.8rem
	.button + h3, p + h3
		margin-top: 3em
	.floated.image
		clear: both
	p
		font-size: 1.2rem
	.horizontal.divider
		margin: 3em 0em

.quote.stripe.segment 
	padding: 0em
	.grid .column 
		padding: 5em 4em

.ui.piled.segment
	padding: 2.5em 3.5em
	ul
		word-wrap: break-word

.index-epimg
	text-align: center
	.ui.examples
		text-align: left

@media only screen and (max-width: 700px)
	.masthead.segment 
		min-height: 450px
	.masthead h1.ui.header
		font-size: 2em
		margin-top: 1.5em
	.masthead h2 
		margin-top: 0.5em
		font-size: 1.5em
	.masthead .ui.container .ui.button 
		margin: 0.5em
		width: 75%
	.index-readmore
		text-align: center
	.index-epimg .ui.examples
		text-align: center
	.ui.piled.segment
		padding: 1.5em 1em
	.ui.index-header-text .logo
		margin-top: 50px
