.masthead.segment
	min-height: 200px
	padding: 1em 0em

.masthead
	h1.ui.header
		margin-top: 1.6em
		margin-bottom: 0em
		font-size: 2em
		font-weight: normal

.ui.masthead.page-title-background
	background: #000000 url(/assets/images/page-title.jpg) no-repeat center top
	background-size: cover

.ui.main.container
	margin-top: 4em
	margin-bottom: 4em
	padding-right: 10px
	img 
		max-width: 100%
	.page-content
		padding-left: 15px
		padding-right: 15px
		h2
			position: relative
			margin-top: 30px
			margin-bottom: 20px
			font-weight: normal
		h2:not(.no-before):before
			content: ""
			position: absolute
			width: 5px
			height: 22px
			background-color: #2CA7F8
			left: -15px
			top: 6px

.lightGallery
	img
		display: block
		max-width: 100%
		margin: auto
		height: auto
	.caption
		color: #666
		display: block
		font-size: 1em
		margin-top: 0.5em
		position: relative
		text-align: center

@media only screen and (max-width: 700px)
	.page-toc
		display: none

.ui.segment
	padding-left: 0
	padding-right: 0
	box-shadow: none
	border: none

.ui.message
	.header
		margin-bottom: 10px
	br
		display: none

.ui.main.container .pagination
	text-align: center
	margin-top: 50px
	a
		color: #888
	a:hover
		color: #444
	.extend
		padding: 15px
	.page-number
		padding: 10px 10px
	.page-number.current
		border-bottom: solid 1px
		background-color: #eee

.right.ui.rail
	min-height: 260px
	margin: 0
	.ui.sticky
		padding-top: 20px

.page-buttons
	.page-left-btn
		float: left
	.page-right-btn
		float: right

@media only screen and (max-width: 700px) 
	.main.container
		margin-top: 3em
		margin-bottom: 3em
		padding-right: 0
	.page-buttons
		text-align: center
		.page-left-btn
			float: none
			margin-bottom: 10px
		.page-right-btn
			float: none

@media only screen and (max-width: 1000px) 
	.right.ui.rail
		display: none